@import '../../../assets/style/fontsMixins.scss';
@import '../../../assets/style/colors.scss';

.inputContainer {
	width: 250rem;
}

.title {
	@include Inter_14();
	color: $primary-text;
}

.input {
	@include Inter_12();
	width: 100%;
	min-height: 24rem;
	border: none;
	border-bottom: 1rem solid $secondary-grey;
	outline: none;
}

.error {
	p {
		color: red;
	}

	input {
		color: red;
		border-color: red;
	}

	input::placeholder {
		padding: 5rem 0;
		color: red;
		height: 100%;
		background: rgba(242, 230, 230, 1);
	}
}
