// Main:
$background-gradient: linear-gradient(
	224.02deg,
	#111111 16.18%,
	#140c17 48.09%,
	#a01345 70.39%,
	#ff3a3a 82.06%
);
$primary-white: rgba(255, 255, 255, 1);
$secondary-grey: rgba(179, 179, 179, 1);

// Text
$primary-text: rgba(65, 65, 65, 1);

// Components
$primary-orange-button: linear-gradient(180deg, #ff3a38 0%, #f42272 100%);
$dark-button: rgba(96, 22, 57, 1);
