@import './media.scss';
@import './backgrounds';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-webkit-text-size-adjust: 100%;
	@media (min-width: $M) {
		-webkit-text-size-adjust: auto;
	}
}

html {
	position: relative;
	min-height: 100dvh;
	height: fit-content;
	font-size: calc(100vw / 430);
	@media (min-width: $M) {
		font-size: calc(100vw / 744);
	}
	@media (min-width: $XL) {
		font-size: calc(100vw / 1920);
	}
}

body {
	display: flex;
	flex-direction: column;
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: fit-content;
	margin: 0;
	padding: 0;
	min-height: 100dvh;
	overflow-y: visible !important;
	overflow-x: hidden;
	@include backgroundAnimated();
}
