@import '../../assets/style/containers';
@import '../../assets/style/fontsMixins';

.registrationMainContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 100dvh;
	height: fit-content;
	@media (min-width: $M) {
		justify-content: center;
		margin: 0;
	}
	@media (min-width: $XL) {
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
}

.logoContainer {
	margin: 80rem 0;

	@media (min-width: $M) {
		margin: 88rem 0 120rem 0;
	}

	@media (min-width: $XL) {
		margin: 0 260rem 0 0;
	}

	.logo {
		width: 262rem;
		height: 58rem;
		background-repeat: no-repeat;
		background-size: contain;
	}
}
